* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 1px;
}

::-webkit-scrollbar-thumb {
    width: 1px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    /*background-image: url('../asset/walp1.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;*/
    height: 5000px;
    /*background-color: grey;*/
    background-color: antiquewhite;
}


a {
    text-decoration: none;

}

nav {
    background-color: rgba(230, 230, 230, 0.753);
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: sticky;
    top: 0;
    width: 100dvw;
    height: 9dvh;
    gap: 30%;
    text-align: center;
    align-items: center;
    backdrop-filter: blur(4px);
    z-index: 100000000000;
}

h1 {
    font-size: xx-large;
}

#button {
    display: flex;
    flex-direction: row;
    width: 40%;
    justify-content: center;
    gap: 15%;
    height: 100%;
    align-items: center;
}

a {
    font-size: larger;
    color: rgb(0, 0, 0);
}

#Donate {
    display: flex;

    background-color: goldenrod;
    /*border: 0.5px solid;*/
    width: 30%;
    height: 60%;
    border-radius: 5px;
}

.donateText {
    width: 100%;
    height: 100%;
    align-content: center;
}

header {
    position: relative;
    background-color: rgba(0, 0, 0, 0.608);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100dvw;
    height: 100dvh;
    display: flex;
    flex-direction: column-reverse;
    background-image: url('../asset/walp3.jpg');
}

header::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 62.5%;
    text-align: center;
    backdrop-filter: blur(4px);
    gap: 10%;
    z-index: 3;
}


h2 {
    font-size: 4rem;
    color: gold;
}

p {
    font-size: 2rem;
    color: rgba(255, 255, 255, 0.918);
}

#DonateNow {
    width: 25%;
    height: 14%;
    border-radius: 10px;
    display: flex;
}

#DonateNow:hover {
    background-color: goldenrod;
}

#about-us-info-container {
    display: flex;
    flex-direction: column;
    scroll-behavior: smooth;
    justify-content: space-evenly;
    width: 100dvw;
    height: 200dvh;
    z-index: 20;
    align-items: center;
}

.about-us-info,
.about-us-info-reversed {
    display: flex;
    flex-direction: row;
    height: 30%;
    width: 95%;
    align-items: center;
    justify-content: center;
    gap: 2%;
    border-radius: 50px;
    backdrop-filter: blur(4px);
    z-index: 2;
    box-shadow: 10px 10px 20px rgb(0, 0, 0);
    text-align: left;
    overflow: hidden;
}

.about-us-info-reversed {
    flex-direction: row-reverse !important;
}

.about-us-image {
    width: 35%;
    height: 100%;
}

p5 {
    font-size: 2.5rem;
}

p6 {
    font-size: 2rem;
    text-align: right;
}

#nous-soutenir {
    width: 100dvw;
    height: 80dvh;
    display: flex;
    /* background-color: #5e2c09c4;
    background-color: #944105;*/
    flex-direction: column;
    justify-content: space-between;
}

#head-text {
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 30%;
    justify-content: center;
    gap: 10%;
}

h3 {
    color: goldenrod;
    font-size: 4rem;
}

p1 {
    font-size: 2rem;
    color: rgb(0, 0, 0);
}

#donation-info-container {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 80%;
    z-index: 20;
    align-items: center;
    /*overflow: hidden;
    overflow-x: hidden;
    overflow-y: hidden;*/
    flex-shrink: 0;
    flex-wrap: wrap-reverse;
}

#donation-carousel {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    scroll-behavior: smooth;
    width: 100dvw;
    height: 100%;
    z-index: 20;
    align-items: center;
    transition: transform 0.5s ease;
    /*overflow: hidden;*/
    background-color: red;
}

.donation-info {
    display: flex;
    flex-direction: column;
    flex: 0 0 60%;
    height: 80%;
    align-items: center;
    justify-content: center;
    gap: 10%;
    border-radius: 50px;
    backdrop-filter: blur(4px);
    z-index: 2;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.815);
    margin-right: 2%;
    text-align: center;
    /*overflow: hidden;*/
}

#button-next,
#button-previous {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    background-color: #ccc;
    border: none;
    cursor: pointer;
    z-index: 20;
}

#button-next {
    right: 0;
}

#button-previous {
    left: 0;
}

p2 {
    color: black;
    font-size: 2rem;
}

.HEI {
    color: goldenrod;
}

.amount {
    width: 40%;
    height: 15%;
    background-color: goldenrod;
    align-content: center;
    border-radius: 10px;
}

.amount:hover {
    background-color: aquamarine;
}